
h2 {
    font-family: sans-serif;
    background:pink;
    }

#lista {
    list-style-type: none; /*quita biñetas*/
    margin: 0;
    padding:0;
    
}

#lista li{
    margin: 1px;
    padding:1px;
    border: 2px solid#ccc;
}